# Use secrets for things which are actually secret like API keys, credentials, etc
# Base64 encode the values stored in a Kubernetes Secret: $ echo <secret> | base64 
# The --decode flag is convenient: $ echo <secret> | base64 --decode

apiVersion: v1
kind: Secret
metadata:
  name: grafanabackup-secrets
type: Opaque
data:
  GRAFANA_KEY:
  AWS_ACCESS_KEY_ID:
  AWS_SECRET_ACCESS_KEY:
